<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Contactless Heart Rate Calculator.">
    <title>VITAL SIGNS - HEART RATE ESTIMATION THROUGH A CAMERA</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.3.2/echarts.min.js"></script>
    <!-- Style Sheet -->
    <link rel="stylesheet" href="/./static/styles/style.css">
    <!-- Boxicon and Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container-fluid justify-content-center" id="home">
        <h1 class="title-font display-5 text-center">VITAL SIGNS - HEART RATE ESTIMATION THROUGH A CAMERA</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                <img id="bg" src="{{ url_for('video_feed') }}" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">BPM: <span class="text-success" id="y-area"></span></div>
                        <div class="card-body" id="echarts-area" style="height:300px;">
                        <!--graphic_area-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="about card text-center border-dark mb-3 mt-3">
                <div class="card-header">
                    <h2>About</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Heart Rate Estimation Through A Camera</h5>
                    <p class="card-text">This web application uses  Photoplethysmography (PPG) for contactless estimation of the heart rate and display the BPM value. 
                        The basic principle behind PPG is to use the camera to capture the video of the skin area, analyze the periodic color change of the skin area and estimate the heart rate. 
                        The color change in skin area is caused by the changes in the blood volumes in vessels. 
                        These changes of skin color registered by a camera are called color signals.
                        To learn more and view our project visit the GitHub repository. 
                    </p>
                    <a href="https://github.com/Ryerson4thYearGroup/capstone-project-rppg" class="btn btn-success" target="_blank">View Project on GitHub</a>
                </div>
            </div>
        </div>

    </div>

<!-- Scroll Reveal -->
<script src="https://unpkg.com/scrollreveal"></script>
   
</body>
<script>
    // inital_data
    var _id = null;
    var create_at = null;
    var y = null;
    // y_axi
    var eData = [];
    // x_axi
    var xData = [];
    function getLatest() {
        $.ajax({
            url: '/api/latest',
            method: 'GET',
            dataType: 'JSON',
            success: function(data){
                var error = data['error'];
                if (error == 0){
                    var data = data['data'];
                    if (data['id'] != _id) {
                        create_at = data['create_at'];
                        _id = data['id'];
                        y = data['y'];
                        $('#y-area').text(data['y']);
                        if (y > 90) {
                            $('#y-area').removeClass('text-success').addClass('text-danger');
                        } else {
                            $('#y-area').removeClass('text-danger').addClass('text-success');
                        }
                        eData.push(y);
                        xData.push(create_at);
                        
                    }   
                }  
            }
        });
    }
    $(function(){
        getLatest();
    });
    var chartDom = document.getElementById('echarts-area');
    var myChart = echarts.init(chartDom);
    var option;
    option = {
        tooltip: {
            trigger: 'axis',
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: xData
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: 'BPM',
                type: 'line',
                smooth: true,
                data: eData
            }
        ],
        dataZoom: [
            {
                type: 'inside',
                start: 0,
                end: 100
            },
            {
                start: 0,
                end: 100
            }
        ]
    };
    option && myChart.setOption(option);
    // 100ms_renew_data_timer
    setInterval(function () {
        getLatest();
        myChart.setOption({
            xAxis: {
                data: xData
            },
            series: [
                {
                data: eData
                }
            ]
        });
    }, 1000);
</script>
 <footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Ryerson Capstone
  </div>
  <!-- Copyright -->
</footer>
</html>    